  .containercoworks{
    padding: 1rem;
  }

  .coworklist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
  }

  @media screen and (max-width: 850px){
    .coworklist{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  }

  @media screen and (max-width: 550px){
    .coworklist{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr;
    }
  }